---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import url('https://fonts.googleapis.com/css?family=Roboto|Russo+One');


// Imports
@import 'grid';
@import 'variables';
@import 'angled-edges';

.home {
	.headerdiv {
			height: 275px;
			background-image:
				linear-gradient(
			      rgba(255, 230, 255, 0.45),
			      rgba(255, 230, 255, 0.45)
			    ),
			url('../images/wocintech.jpg');
			background-size: cover;
	    background-repeat: no-repeat;
	}

	.citylistwrapper {
			display: block;
			clear: both;
			a {
				display: inline;
				text-align: center;
				clear: both;
				font-size: 24px;
				color: $shamrock;
			}
			.citylink {
				height: 5em;
				font-family: $headerfont;
				background-color: $polar;
					&:hover {
						background-color: $electric-violet;
						text-decoration: none;
					  cursor: pointer;
						color: $alabaster;
					}
				}
			}

	.toDoList {
		text-align: left;
			li a:hover {
				color: $electric-violet;
				text-decoration: none;
			  cursor: pointer;
			}
		}
}

.footer {
	background-color: $alabaster;
	padding: 10px 0;
	font-size: 12px;
	text-align: center;
}

.austin {

}

.austinstory {
	@media (min-width: 0px) and (max-width: 450px){
		 .singleBig iframe, .multiBig iframe{
					display:none;
			}
		}
	@media (min-width: 450px) {
			.singleSmall iframe, .multiSmall iframe{
					display:none;
			}
		}
}

.dc {

}

.resources {

}

.addyourcity {

}

.whyyoushould {

}


#AustinSpeakerList #DCspeakerList {
	font: 14px/1.5 'Roboto', Helvetica, Arial, sans-serif;
}
