@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600|Patua+One|Russo+One');

header {
	height: 250px;
	position: relative;
	font-family: 'Russo One', cursive;
	background-image: url('../images/wocintech.jpg');
	background-size: 100% 600px;
    background-repeat: no-repeat;
}

header h1 {
	padding-top: 5%;
	margin-bottom: 0;
	text-align: right;
	font-size: 48px;
	color: #000000;
}

header h2 {
	margin-top: 0;
	text-align: right;
	font-size: 24px;
	color: #000000;
}

header h1 a {
	text-decoration: none;
	color: #000000;
}

a:hover {
	color: #ff33cc;
	text-decoration: none; 
    cursor: pointer; 
}

body {
	background-color: #FFFFFF;
	color: #595959;
	margin: 1% 15% 0 15%;
}

body a {
	color: #595959;
}

.content {
	margin: 2% 7% 0 7%;
	font: 14px/1.5 'Open Sans', Helvetica, Arial, sans-serif;
}

.content a {
	text-decoration: underline;
}

.cityList{
	text-align:center;
}

.cityList li{
	display: inline;
	line-height: 5%;
	margin: 0 5% 0 5%;
	font: 18px;
}

.cityList a {
	text-decoration: none; 
	}

.cityList a:hover {
	color: #ff33cc;
	text-decoration: none; 
    cursor: pointer; 
	}

.toDoList{
	text-align: left;
	margin-left: 5%;
}

.toDoList li a:hover{
	color: #ff33cc;
	text-decoration: none; 
    cursor: pointer;
}

.footer {
	font-size: 12px;
	text-align: center;
}

#AustinSpeakerList #DCspeakerList {
	font: 14px/1.5 'Open Sans', Helvetica, Arial, sans-serif;
}