---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import url('https://fonts.googleapis.com/css?family=Roboto|Russo+One');


// Imports
@import 'grid';
@import 'variables';
@import 'angled-edges';


// header styles

.headerdiv {
	.row {
		margin: 0;
		padding: 10px 0;
	}
}

.site-header {

		.site-title {
		    float: left;
		    text-decoration: none;
			}

			.site-title-logo {
				width: auto;
				height: 90px;
			}

		.site-nav {

			.trigger {
				a {
					text-decoration: none;
					float: right;
					font-size: 1.15em;
					padding: 0 15px;
					color: $electric-violet;
					&:hover {
						color: $shamrock;
					}
				}
				#findyourcity {
					background-color: $alabaster;
					border-radius: 3px;
					color: $shamrock;
					&:hover {
						background-color: $polar;
					}
				}

			}

	}

}



// page styles

.home {
	.wocimg {
	margin-bottom: 1em;
	}

	.howtohelp {
		a {
		font-size: 1.5em;
		}
	}

	.toDoList {
		text-align: left;
			li a:hover {
				color: $electric-violet;
				text-decoration: none;
			  cursor: pointer;
			}
		}
}

footer {
	margin-top: 1em;
	background-color: $alabaster;
	padding: 10px 0;
	text-align: center;
	h3 {
		color: $shamrock;
	}
}

//city page styles

.banner {
	width: 100%;
	margin-bottom: 0;
}

.austin {
	table {
		cellspacing: 0;
		width: 100%;
	}
}

.austinstory {
	@media (min-width: 0px) and (max-width: 450px){
		 .singleBig iframe, .multiBig iframe{
					display:none;
			}
		}
	@media (min-width: 450px) {
			.singleSmall iframe, .multiSmall iframe{
					display:none;
			}
		}
	.iframe-sm {
		width: 100%;
		height: 500px;
		frameborder:0;
	}
	.iframe-md {
		width: 100%;
		height: 525px;
		frameborder:0;
	}
	.iframe-lg {
		width: 100%;
		height: 550px;
		frameborder:0;
	}
}

.dc {
table {
		cellspacing: 0;
		width: 100%;
	}
}

.resources {

}

.addyourcity {

}

.whyyoushould {

}


#AustinSpeakerList #DCspeakerList {
	font: 14px/1.5 'Roboto', Helvetica, Arial, sans-serif;
}
