@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600|Patua+One|Russo+One');

.headerdiv {
		height: 275px;
		background-image: 
			linear-gradient(
		      rgba(255, 230, 255, 0.45), 
		      rgba(255, 230, 255, 0.45)
		    ),
		url('../images/wocintech.jpg');
		background-size: cover;
	    background-repeat: no-repeat;
	    background-color: rgba(255,0,0,0.5);
}

header {
		position: relative;
		font-family: 'Russo One', cursive;
	    text-align: center;
	}

header h1 {
	padding-top: 3%;
	margin-bottom: 0;
	font-size: 58px;
	color: #000000;
}

header h2 {
	margin-top: 0;
	text-align: center;
	font-size: 24px;
	color: #000000;
}

header h1 a {
	text-decoration: none;
	color: #000000;
}

a:hover {
	color: #ff33cc;
	text-decoration: none; 
    cursor: pointer; 
}

body {
	background-color: #FFFFFF;
	color: #595959;
	margin: 1% 0% 0 0%;
	font-family: 'Open Sans';
}

body a {
	color: #595959;
}

.content {
	font: 14px/1.5 'Open Sans', Helvetica, Arial, sans-serif;
}

.content a {
	text-decoration: underline;
	color: #ff33cc;
}

.listwrapper {
	background-color: #f2f2f2;
	height: auto;
	overflow: hidden;
}

.cityList {
	text-align:left;	
}

.cityList li{
	display: inline;
	line-height: 5%;
	margin: 0% 5% 0% 5%;
	font-size: 24px;
}

.cityList a {
	color: #000;
	font-family: 'Russo One', cursive;
	text-decoration: none; 
	padding: 7px;
	}

.cityList a:hover {
	background-color: #ff33cc;
	color: #fff;
	text-decoration: none; 
    cursor: pointer; 
	}

.toDoList {
	text-align: left;
}

.toDoList li a:hover{
	color: #ff33cc;
	text-decoration: none; 
    cursor: pointer;
}

.footer {
	background-color: #f2f2f2;
	padding: 10px 0;
	font-size: 12px;
	text-align: center;
}


#AustinSpeakerList #DCspeakerList {
	font: 14px/1.5 'Open Sans', Helvetica, Arial, sans-serif;
}

/*page styles*/

.container {
	padding: 0% 15% 0% 15%;
}