<footer>
    <h3 class = "centered bold"> Tell Your Friends!</h3>
    <p class = "centered">Share this with other women or non-binary people in your life who are, or who you think would make great speakers.
      <br>
        <br>
        <a href="https://www.facebook.com/sharer/sharer.php?u=http%3A//wespeaktoo.org/"><i class="larger fa fa-facebook" aria-hidden="true"></i></a>
        <a href="https://twitter.com/intent/tweet?text=Women%20and%20nonbinary%20friends%20check%20out%20http://www.wespeaktoo.org" target="_blank"><i class="larger fa fa-twitter" aria-hidden="true"></i>
        </a>
        <a href="https://www.linkedin.com/shareArticle?mini=true&url=www.wespeaktoo.org&title=Women%20and%20non-binary%20meetup%20speakers%20in%20Austin,%20DC,%20and%20Boulder&summary=&source="><i class="larger fa fa-linkedin" aria-hidden="true"></i></a>
    </p>

  <p class = "centered small">Email Kate Rabinowitz <a href="mailto:datalensdc@gmail.com" target="_blank"> with questions or feedback.</a>
  <br>Photos courtesy <a href="http://www.wocintechchat.com/" target="_blank">#WOCInTechChat</a>, and Bob Bullock State History Museum.</p>
</footer>
