<header class="site-header">

    <div class="wrapper">

        <a class="site-title" href="/">
            <img src="../design/logo.svg" alt="We Speak Too Logo" class="site-title-logo">
        </a>

        <nav class="site-nav">

            <div class="trigger">
                <a href="/#speakerlist" class="page-link" id = "findyourcity"><div>Speaker List</div></a>
                <a class="page-link" href="/resources">Resources</a>
            </div>

        </nav>

    </div>

</header>
