// Our variables
$primary-font: 'Roboto', Helvetica, Arial, sans-serif;
$base-font-size:   18px;
$base-font-weight: 200;

$electric-violet: #ff00cc;
$shamrock: #1cbab1;
$polar: #d8f7f5;  // polar
$silver: #c0c0c0;  // silver
$gray: #646669; // gray
$alabaster: #f9f9f9;    // alabaster
$white: #FFFFFF;

// Fonts
$headerfont: 'Russo One';
$primary-font: 'Roboto';

body {
  font-family: $primary-font;
  color: $gray;
}

h1 {
	font-family: $headerfont;
	margin-bottom: 0;
	font-size: 58px;
	color: $electric-violet;
	text-decoration: none;
  a {
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
  }
}

h2 {
	font-family: $headerfont;
	margin-top: 0;
	font-size: 24px;
	color: $gray;
}


a {
	text-decoration: underline;
	color: $electric-violet;
  &:hover {
  	color: $shamrock;
      cursor: pointer;
  }
}
