// Our variables
$primary-font: 'Roboto', Helvetica, Arial, sans-serif;
$base-font-size:   18px;
$base-font-weight: 200;

$electric-violet: #ff00cc;
$shamrock: #1cbab1;
$polar: #d8f7f5;  // polar
$silver: #c0c0c0;  // silver
$gray: #646669; // gray
$alabaster: #f9f9f9;    // alabaster
$white: #FFFFFF;

// Fonts
$headerfont: 'Russo One';
$primary-font: 'Roboto'

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;
