<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <link href='./css/styles.css' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  </head>

  <body>
    <div class="container">
    {{ content }}
    </div>
  
  <footer>
  <p class="footer"> Made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://twitter.com/DataLensDC" target="_blank">Kate Rabinowitz.</a> <a href="mailto:datalensdc@gmail.com" target="_blank">Get in touch</a> to share questions and feedback. 
  </footer>
  </body>

</html>